.placholder-header {
  background-color: var(--bg);
}

.movies-container {
  padding-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 100px);
  background-color: var(--bg);
  color: var(--text);
}
