.catalog-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 2.3rem;
  padding: 0.6rem;
  background: linear-gradient(145deg, #1e222e, #13141f);
  border-left: none;
  color: var(--text);
}

.phobias {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 65%;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 2rem;
  height: 100%;
}

.phobia-item {
  align-items: center;
  display: flex;
  padding: 0 1.8rem;
  white-space: nowrap;
  height: 100%;
  color: var(--text);
  border-radius: 3px;
  background: #3b0a52;
  transition: background 0.5s ease;
  margin: 0 0.2rem 0 0.2rem;
}

.search-bar {
  margin-right: 4rem;
  display: flex;
  width: 25%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-input {
  background-color: #1e222e;
  color: var(--text);
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 5px;
}

.search-input::placeholder {
  color: var(--text-muted);
}
