.movie-container {
  padding: 10px;
  border: 1px solid #3b0a52;
  border-radius: 5px;
  margin: 0 0.3rem 2.5rem 0.3rem;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: var(--card-bg);
  color: var(--text);
}

.movie-container:hover {
  background: linear-gradient(145deg, #1e222e, #13141f);
}

.movie-container:hover .movie-description,
.movie-container:hover .movie-image,
.movie-container:hover .default-style {
  opacity: 7%;
}

.movie-image {
  width: 200px;
  height: 300px;
}

.default-style {
  width: 200px;
  height: 300px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
}

.movie-description {
  font-size: 12px;
  margin-top: 10px;
  color: var(--text-muted);
}

.movie-poster {
  background: #3b0a52;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 200px;
  font-size: 1.5em;
  text-align: center;
  background: var(--primary);
  color: var(--text);
}

.movie-statistics {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text);
}

.movie-container:hover .movie-statistics {
  display: block;
}
