#root {
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  background-color: white;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #CB0504, #4B0000); /* Dark blood red gradient */
}