{% extends "admin/base_site.html" %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
    <!-- Include other CSS files as needed -->
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">UPlant</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}